<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>what is Chinese?</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <style>
      .container {
        background-image: url("/static/img/chinese.jpg")
      }
    </style>
    <h1> what is Chinese? </h1>
        <p> 중국어(한국 한자: 中國語) 또는 한어(중국어 정체자: 漢語, 간체자: 汉语, 병음: hànyǔ 한위[*], ㄏㄢˋㄩˇ)는 중국티베트어족에 속하는 언어로, 화어(중국어 정체자: 華語, 병음: huáyǔ), 중문(중국어: 中文, 병음: zhōngwén) 등으로도 불린다. 세계에서 가장 많은 사용자를 가진 언어로, 전 세계 인구 중 12억 명 가량이 모국어로 사용한다. 그 발상지인 중국 대륙에 가장 많은 사용자가 있으며, 세계 각지의 중국계 이주민들도 쓴다. 중국어는 현재 중화인민공화국, 중화민국, 싱가포르에서 공용어로 지정되어 있으며, UN의 6개 공용어 중 하나이다.

            중국어는 단일의 언어라기보다는 방언연속체로 이루어진 제어(諸語)이며, 학자에 따라 다르나 방언은 크게 10개 내외의 범주로 나뉜다. 대표적으로 베이징 등지의 방언이며 중국의 표준어인 관화(官話; Mandarin), 상하이 등지에서 쓰이는 우어(吳語), 남부의 민어(閩語), 광동어 등을 포함하는 월어(粵語) 따위가 있다.

            일반적으로 한자(漢字)라는 문자로 표기되는데, 이는 고대의 상형문자 갑골문을 기반으로 한 표어문자로서 그 수가 매우 많으며 독특한 형태를 지니고 있다. 발음을 정확히 표기할 때에는 로마자를 이용한 한어 병음도 사용된다.

            가장 큰 특징으로 성조가 존재한다는 점을 들 수 있는데, 성조에 따라 단어의 의미가 바뀌기도 한다. 문법적으로는 일반적으로 SVO 어순을 따르며, 형태소가 굴절없이 단어를 이루어 어순에 따라 문법적 역할이 결정되는 문법적 고립어이다. 인접한 언어인 한국어, 일본어, 베트남어 등에게 어휘는 물론 음운이나 문법 등 다양한 면에 있어서 역사적으로 큰 영향을 주었다. </p>
    {% endblock %}
  </body>
</html>
