<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>what is Korean?</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <style>
      .container {
        background-image: url("/static/img/korean.jpg")
      }
    </style>
    <h1> what is Korean? </h1>
    <p>
      한국어(韓國語)또는 한국말, 조선말은 대한민국과 조선민주주의인민공화국의 공용어로, 대한민국에서는 한국어 또는 한국말이라고 부르고, 조선민주주의인민공화국에서는 조선말이라고 부른다. 옌볜 조선족 자치주에서도 사용되기도 한다.

      20세기 후반 대한민국의 해외 이민 등의 요인으로 일본, 중화인민공화국, 러시아, 우즈베키스탄, 미국, 캐나다, 오스트레일리아, 필리핀, 베트남 등 세계 여러 지역에 한민족이 이주하면서 이들 한민족이 거주하는 지역에서도 한국어가 사용되고 있다. 2016년 1월 초 기준으로 한국어 사용 인구는 대부분이 대한민국과 조선민주주의인민공화국에 모여 있으며 약 7720만 명으로 추산된다.[1]
      '한국어'는 대한민국에서 쓰는 명칭이고 조선민주주의인민공화국에서는 조선말이라고 한다. 대한민국과 조선민주주의인민공화국이 공동으로 만드는 사전의 이름은 《겨레말 큰사전》이다. 1994년부터 열리는 대한민국, 조선민주주의인민공화국간의 한글과 한국어 컴퓨터 처리를 표준화하려는 학회명은 '코리안 컴퓨터처리 국제학술대회'이다.

      일본에서는 한국어를 '쵸센고(조선어)'라고 불렀으나, 근래에는 '칸코쿠고(한국어)'라고 부르는 경향이 강하다. 일본 내의 교포 사회는 재일본대한민국민단과 재일본조선인총련합회로 갈라져 각각 표준어와 문화어를 지지하는 경향이 있으므로 NHK는 중립성을 담보하기 위해 한국어 회화 명칭을 '칸코쿠고(한국어)', '쵸센고(조선어)' 대신 '한구루 고자'(ハングル講座, 한글 강좌)[2]라고 하였다. 그 밖에도 중립성을 고려하여 칸코쿠ㆍ조센고(韓国・朝鮮語, 한국ㆍ조선어)'고리아고'(コリア語, 코리아어)나 '가라노쿠니노코토바'(韓の国のことば, からのくにのことば, 한나라말)등의 명칭을 쓰기도 한다. '코리아고(코리아어)'는 1977년 조치 대학이 처음으로 전공 학과를 개설한 이후 일부 대학교에서 쓴다. 또한 학계에서는 조선민주주의인민공화국에서 쓰이는 것을 조선어, 대한민국에서 쓰이는 것을 한국어로 구별하여 둘 다 포함하는 말로 (광의의) 조선어라고 한다.

      일본과 중국은 한국어를 가리키는 명칭으로 朝鮮語(조선어)(朝鮮語)가 주로 사용되어왔으나, 최근에는 한국어로 부르는 경향이 훨씬 많아졌다. 중화인민공화국은 조선민주주의인민공화국과의 밀접한 관계에 따라 한국어를 주로 챠오셴위(중국어: 朝鲜语, 병음: Cháoxiǎnyǔ, 조선어)'라고 부른다. 1992년 대한민국과의 수교 이후에 양국이 활발한 교류를 하게 되면서 '한궈위(중국어: 韩国语, 병음: Hánguóyǔ, 한국어)' 또는 '한위'(韓語, 한어) 등의 명칭이 쓰이기도 하나, 학술상으로는 여전히 문화어 계열 어휘를 많이 사용한다. 중화민국(타이완)은 한국어를 '한궈위(중국어: 韓國語, 병음: Hánguóyǔ, 한국어)'나 '한위(중국어: 韓語, 병음: Hányǔ, 한어)'로 부른다. 베트남에서의 용법은 중화인민공화국과 거의 비슷하다. 현재는 한자를 사용하지 않지만, 과거에 한자도 어느 정도 사용하던 베트남은 한국을 '쩨우띠엔'(베트남어: Triều Tiên, 朝鮮)이라고 불렀고, 대한민국은 '남쩨우띠엔'(베트남어: Nam Triều Tiên, 南朝鮮), 한국어는 '띠엥쩨우띠엔'(Tiếng Triều Tiên, 朝鮮語)으로 불렀다. 한국에 관련된 일반 어휘는 문화어 계열의 어휘가 더 많이 쓰인다. 대한민국의 표준어는 '띠엥한'(Tiếng Hàn, 韓語)이라고 부른다. 베트남어 위키백과에는 한국어 문서의 제목이 '한국어'를 뜻하는 '띠엥한꾸억'(=(Tiếng Hàn Quốc, 大韓國語)으로 표기되어 있다.

      한편, 한국어는 영어로 'Korean', 프랑스어로 'Coréen', 스페인어로는 'Coreano'로 불린다.
    </p>
    {% endblock %}
  </body>
</html>
